.pokemon-card {
    width: 14rem;              
    height: 250px;             
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
  }
  
  .pokemon-card:hover {
    transform: scale(1.05);
  }
  
  .pokemon-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
  }